html {
   font-size: 62.5%
}

body {
   font-family: 'Press Start 2P', sans-serif;
   font-size: 1.8rem;
   background: rgb(224, 223, 223);
}


.wrapper {
   max-width: 550px;
   text-align: center;
   margin: auto;
   width: 100%; 
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

canvas {
   width: 100%;
   max-height: 900px;
   height: calc(100vh - (70px + 65px + 6px));
}

.game-border {
   border: 2px solid black;
   background: #525151;
}

.top-bar {
   border-bottom: 2px solid black;
   height: 70px;
   padding: 0 15px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: relative;
   background: rgb(131, 112, 250);
   ul {
      display: flex;
      align-items: center;
      li {
         margin: 0 5px;
         width: 40px;
      }
   }
   .points-container {
      display: flex;
      align-items: center;

   }
}


.dino-controls {
   height: 65px;
   border-top: 2px solid black;
   display: flex;
   .left,
   .right {
      background: rgb(131, 112, 250);
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: black;
      &:hover {
         background-color: rgb(168, 168, 248);
      }
   }
   .left {
      border-right: 1px solid black;
   }
   .right {
      border-left: 1px solid black;
   }
}

.instructions-overlay {
   display: none;
   font-size: 1.5rem;
   margin-top: 0;
   border: 2px solid black;
   padding: 25px;
   position: absolute;
   top: -2px;
   left: -2px;
   z-index: 10;
   background: rgb(224, 223, 223);
   p {
      line-height: 1.6;
      text-align: left;
   }
   .instructions-close {
      position: absolute;
      top: 15px;
      right: 15px;
      font-size: 1.2rem;
      border: 1px solid black;
      background: black;
      color: white;
      font-size: 1.2rem;
      padding: 2px 3px 2px 4px;
      &:hover {
         background: #272727;
      }
   }
}

.pop-up {
   max-width: 400px;
   width: 100%;
   margin: 0 auto;
   position: absolute;
   top: calc(50vh - 150px);
   left: calc(50% - 200px);
   border: 2px solid black;
   background: rgb(224, 223, 223);
   box-shadow: 2px 2px 0 black, 4px 4px 0 black, 6px 6px 0 black;
   p {
      margin: 0px 5px 20px 5px;
   }
}

form.choose-character{
   position: relative;
   .instructions-open {
      position: absolute;
      top: -10px;
      right: 15px;
      border: 1px solid black;
      background: black;
      color: white;
      font-size: 1.2rem;
      padding: 2px 4px;
      &:hover {
         background: #272727;
      }
   }
   .characters {
      display: flex;
      justify-content: center;
      padding-bottom: 15px;
   }
   label {
      display: flex;
      flex-direction: column;
      align-items: center;      
      margin: 0 15px;
      &:hover {
         cursor: pointer;
      }
   }
   .dino-shadow {
      width: 50px;
   }
   .dino {
      width: 50px;
   }
}

.hide,
.disappear,
input[type="radio"] {
   display: none;
}

input[type="submit"] {
   padding: 15px;
   width: 100%;
   background: rgb(131, 112, 250);
   border: none;
   border-top: 1px solid black;
   &:hover {
      background: rgb(168, 168, 248);
   }
}

.game-over {
   display: none;
   margin: 50px 0;
   p {
      padding: 50px 0 30px 0;
   }  
}

.appear {
   display: block;
}


// Media Queries

@media(max-width: 460px){
   .points {
      display: none;
   }
}

@media(max-width: 380px){
   .pop-up {
      width: 80%;
      left: calc(50% - 150px);
      font-size: 1.6rem;
   }
}

@media(max-width: 350px){
   .pop-up {
      left: calc(50% - 140px);
   }
}

@media(max-width: 335px){
   .pop-up {
      left: calc(50% - 128px);
   }
}