html {
   font-size: 62.5%
}

body {
   font-family: 'Press Start 2P', sans-serif;
   font-size: 2rem;
   background: #f9f9f9;
}

.game-border {
   border: 2px solid black;
}

.wrapper {
   max-width: 500px;
   text-align: center;
   margin: 0 auto;
}

.top-bar {
   border-bottom: 2px solid black;
   padding: 0 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: relative;
   ul {
      display: flex;
      align-items: center;
      li {
         margin: 0 5px;
         width: 40px;
      }
   }
}

.dino-controls {
   height: 50px;
   border: 2px solid black;
   border-top: none;
   display: flex;
   .left,
   .right {
      background: tomato;
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: black;
      &:hover {
         background-color: rgb(233, 90, 64);
      }
   }
   .left {
      border-right: 1px solid black;
   }
   .right {
      border-left: 1px solid black;
   }
   i {
      font-size: 4rem;
   }
}

.pop-up {
   max-width: 400px;
   width: 100%;
   margin: 0 auto;
   position: absolute;
   top: 200px;
   left: calc(50% - 200px);
   background: lightgrey;
   box-shadow: 2px 2px 0 black, 4px 4px 0 black, 6px 6px 0 black;
}

form.choose-character{
   .characters {
      display: flex;
      justify-content: center;
      padding-bottom: 25px;
   }
   label {
      display: flex;
      flex-direction: column;
      align-items: center;      
      margin: 0 15px;
      &:hover {
         cursor: pointer;
      }
   }
   .dino-shadow {
      width: 50px;
   }
   .dino {
      width: 50px;
   }
}

.hide,
.disappear,
input[type="radio"] {
   display: none;
}

input[type="submit"] {
   padding: 15px;
   width: 100%;
   background: #3887fd;
   border: none;
   border-top: 1px solid black;
   &:hover {
      background: #3278e2;
   }
}

.game-over {
   display: none;
   p {
      padding: 20px 0;
   }  
}

.appear {
   display: block;
}








.instructions{
   border: 2px solid black;
   font-size: 1.6rem;
   font-size: 16px;
}