/* GENERAL STYLING */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

a {
  text-decoration: none; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

img {
  max-width: 100%; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Press Start 2P', sans-serif;
  font-size: 1.8rem;
  background: #e0dfdf; }

.wrapper {
  max-width: 550px;
  text-align: center;
  margin: auto;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

canvas {
  width: 100%;
  max-height: 900px;
  height: calc(100vh - (70px + 65px + 6px)); }

.game-border {
  border: 2px solid black;
  background: #525151; }

.top-bar {
  border-bottom: 2px solid black;
  height: 70px;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  background: #8370fa; }
  .top-bar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .top-bar ul li {
      margin: 0 5px;
      width: 40px; }
  .top-bar .points-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.dino-controls {
  height: 65px;
  border-top: 2px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .dino-controls .left,
  .dino-controls .right {
    background: #8370fa;
    width: 50%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: black; }
    .dino-controls .left:hover,
    .dino-controls .right:hover {
      background-color: #a8a8f8; }
  .dino-controls .left {
    border-right: 1px solid black; }
  .dino-controls .right {
    border-left: 1px solid black; }
  .dino-controls i {
    font-size: 4rem; }

.pop-up {
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: calc(50vh - 100px);
  left: calc(50% - 160px);
  background: #e0dfdf;
  -webkit-box-shadow: 2px 2px 0 black, 4px 4px 0 black, 6px 6px 0 black;
  box-shadow: 2px 2px 0 black, 4px 4px 0 black, 6px 6px 0 black; }
  .pop-up p {
    margin: 0px 5px 20px 5px; }

form.choose-character .characters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 25px; }

form.choose-character label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 15px; }
  form.choose-character label:hover {
    cursor: pointer; }

form.choose-character .dino-shadow {
  width: 50px; }

form.choose-character .dino {
  width: 50px; }

.hide,
.disappear,
input[type="radio"] {
  display: none; }

input[type="submit"] {
  padding: 15px;
  width: 100%;
  background: #8370fa;
  border: none;
  border-top: 1px solid black; }
  input[type="submit"]:hover {
    background: #a8a8f8; }

.game-over {
  display: none; }
  .game-over p {
    padding: 20px 0; }

.appear {
  display: block; }

.instructions {
  border: 2px solid black;
  font-size: 1.6rem;
  font-size: 16px;
  display: none; }

@media (max-width: 460px) {
  .points {
    display: none; } }

@media (max-width: 380px) {
  .pop-up {
    width: 80%;
    left: calc(50% - 150px);
    font-size: 1.6rem; } }

@media (max-width: 350px) {
  .pop-up {
    left: calc(50% - 140px); } }

@media (max-width: 335px) {
  .pop-up {
    left: calc(50% - 128px); } }
