html {
   font-size: 62.5%
}

body {
   font-family: 'Press Start 2P', sans-serif;
   font-size: 1.8rem;
   background: linear-gradient(to top, #171717, #313131);
   color: $black;
}

.wrapper {
   max-width: 550px;
   text-align: center;
   margin: auto;
   width: 100%; 
   display: flex;
   flex-direction: column;
   justify-content: center;
}

canvas {
   width: 100%;
   max-height: 900px;
   height: calc(100vh - (70px + 65px + 6px));
   background: linear-gradient(to top, #171717, #313131);
}

.game-border {
   border: $twopxborder;
   background: $secondary;
   height: 100vh;
}

// Styling for top bar with lives and score
.top-bar {
   border-bottom: $twopxborder;
   height: 70px;
   padding: 0 15px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: relative;
   background: $accent;
   ul {
      display: flex;
      align-items: center;
      li {
         margin: 0 5px;
         width: 40px;
      }
   }
   .points-container {
      display: flex;
      align-items: center;

   }
}

// Styling for arrows at the bottom of canvas
.dino-controls {
   height: 65px;
   border-top: $twopxborder;
   display: flex;
   .left,
   .right {
      background: $accent;
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $black;
      &:hover {
         background-color: $accenthover;
      }
   }
   .left {
      border-right: $onepxborder;
   }
   .right {
      border-left: 1px solid $black;
   }
}

// General styles for all pop ups - start game, play again, and instructions
.pop-up {
   max-width: 400px;
   width: 100%;
   margin: 0 auto;
   position: absolute;
   top: calc(50vh - 150px);
   left: calc(50% - 200px);
   border: $twopxborder;
   background: $primary;
   box-shadow: 2px 2px 0 $black, 4px 4px 0 $black, 6px 6px 0 $black;
   p {
      margin: 0px 5px 20px 5px;
   }
}

// Start game pop-up styles
form.choose-character{
   position: relative;
   .characters {
      display: flex;
      justify-content: center;
      padding-bottom: 15px;
   }
   label {
      display: flex;
      flex-direction: column;
      align-items: center;      
      margin: 0 15px;
      &:hover {
         cursor: pointer;
      }
   }
   .dino-shadow {
      width: 50px;
   }
   .dino {
      width: 50px;
   }
}

// jquery add/remove classes 
.hide,
.disappear,
input[type="radio"] {
   display: none;
}

// styling for submit buttons on start and end game pop ups
input[type="submit"],
.instructions-open {
   padding: 15px;
   width: 100%;
   background: $accent;
   border: none;
   border-top: $onepxborder;
   &:hover {
      background: $accenthover;
   }
}

// Styling for instructions 
.instructions-overlay {
   display: none;
   font-size: 1.5rem;
   margin-top: 0;
   border: $twopxborder;
   padding: 25px;
   position: absolute;
   top: -50px;
   left: -2px;
   z-index: 10;
   background: $primary;
   box-shadow: 2px 2px 0 $black, 4px 4px 0 $black, 6px 6px 0 $black, 8px 8px 0 $black;
   p {
      line-height: 1.6;
      text-align: left;
      &:last-child {
         text-align: center;
         margin-bottom: 0;
      }
   }
   .instructions-close {
      position: absolute;
      top: 15px;
      right: 15px;
      font-size: 1.2rem;
      border: $onepxborder;
      background: $black;
      color: $primary;
      font-size: 1.2rem;
      padding: 2px 3px 2px 4px;
      &:hover {
         background: $iconhover;
      }
   }
   img {
      max-width: 100%;
      width: 70px;
      margin: 0 10px;
   }
   .image-instructions {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: 0 auto;
   }
   .move-dino {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
      .blue-dino-container {
         width: 20%;
      }
      .blue-dino-container img{
         width: 100%;
         display: block;
      }
   }
   .arrow-key-flex {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 80%;
      .purple-key-container img{
         width: 50%;
         display: block;
         margin: 0 auto;
      }
      p {
         margin-bottom: 0px;
      }
   }
   .keyboard-arrow-keys{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .key {
         border: $onepxborder;
         padding: 2px 4px;
         width: calc(100% / 3);
         &:first-child {
            border-bottom: none;
            margin: 0 auto;
         }
         &:nth-child(2){
            border-right: none;
         }
         &:nth-child(4){
            border-left: none;
         }
      }
      .full-width {
         width: 100%;
      }
      .highlight {
         background: $iconhover;
         color: $primary;
      }
   }
   .steak-img,
   .meteor-img {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      width: 50%;
      p {
         margin-bottom: 0;
      }
   }
   .heart-strike {
      position: relative;
      .heart-img {
         width: 35px;
      }
      span {
         border-left: $twopxborder;
         height: 50px;
         transform: rotate(-45deg);
         position: absolute;
         top: -12px;
         left: 25px;
         font-size: 3.5rem;
      }
   }
}

// play-again pop up styles
.game-over {
   display: none;
   margin: 50px 0;
   p {
      padding: 50px 0 30px 0;
   }  
}

// jquery add/remove class 
.appear {
   display: block;
}