// COLORS //
$black: #171717;
$lightgrey: rgb(238, 236, 236);
$grey: #525151;
$darkgrey: #272727;
$purple: rgb(131, 112, 250);
$lightpurple: rgb(168, 168, 248);

$primary: $lightgrey;
$secondary: $darkgrey;
$accent: $purple;
$accenthover: $lightpurple;
$iconhover: $darkgrey;

// BORDERS // 
$onepxborder: 1px solid $black;
$twopxborder: 2px solid $black;