/* GENERAL STYLING */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

a {
  text-decoration: none; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

img {
  max-width: 100%; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Press Start 2P', sans-serif;
  font-size: 1.8rem;
  background: -webkit-gradient(linear, left bottom, left top, from(#171717), to(#313131));
  background: -webkit-linear-gradient(bottom, #171717, #313131);
  background: -o-linear-gradient(bottom, #171717, #313131);
  background: linear-gradient(to top, #171717, #313131);
  color: #171717; }

.wrapper {
  max-width: 550px;
  text-align: center;
  margin: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

canvas {
  width: 100%;
  max-height: 900px;
  height: calc(100vh - (70px + 65px + 6px));
  background: -webkit-gradient(linear, left bottom, left top, from(#171717), to(#313131));
  background: -webkit-linear-gradient(bottom, #171717, #313131);
  background: -o-linear-gradient(bottom, #171717, #313131);
  background: linear-gradient(to top, #171717, #313131); }

.game-border {
  border: 2px solid #171717;
  background: #272727;
  height: 100vh; }

.top-bar {
  border-bottom: 2px solid #171717;
  height: 70px;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  background: #8370fa; }
  .top-bar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .top-bar ul li {
      margin: 0 5px;
      width: 40px; }
  .top-bar .points-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.dino-controls {
  height: 65px;
  border-top: 2px solid #171717;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .dino-controls .left,
  .dino-controls .right {
    background: #8370fa;
    width: 50%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #171717; }
    .dino-controls .left:hover,
    .dino-controls .right:hover {
      background-color: #a8a8f8; }
  .dino-controls .left {
    border-right: 1px solid #171717; }
  .dino-controls .right {
    border-left: 1px solid #171717; }

.pop-up {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: calc(50vh - 150px);
  left: calc(50% - 200px);
  border: 2px solid #171717;
  background: #eeecec;
  -webkit-box-shadow: 2px 2px 0 #171717, 4px 4px 0 #171717, 6px 6px 0 #171717;
  box-shadow: 2px 2px 0 #171717, 4px 4px 0 #171717, 6px 6px 0 #171717; }
  .pop-up p {
    margin: 0px 5px 20px 5px; }

form.choose-character {
  position: relative; }
  form.choose-character .characters {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-bottom: 15px; }
  form.choose-character label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 15px; }
    form.choose-character label:hover {
      cursor: pointer; }
  form.choose-character .dino-shadow {
    width: 50px; }
  form.choose-character .dino {
    width: 50px; }

.hide,
.disappear,
input[type="radio"] {
  display: none; }

input[type="submit"],
.instructions-open {
  padding: 15px;
  width: 100%;
  background: #8370fa;
  border: none;
  border-top: 1px solid #171717; }
  input[type="submit"]:hover,
  .instructions-open:hover {
    background: #a8a8f8; }

.instructions-overlay {
  display: none;
  font-size: 1.5rem;
  margin-top: 0;
  border: 2px solid #171717;
  padding: 25px;
  position: absolute;
  top: -50px;
  left: -2px;
  z-index: 10;
  background: #eeecec;
  -webkit-box-shadow: 2px 2px 0 #171717, 4px 4px 0 #171717, 6px 6px 0 #171717, 8px 8px 0 #171717;
  box-shadow: 2px 2px 0 #171717, 4px 4px 0 #171717, 6px 6px 0 #171717, 8px 8px 0 #171717; }
  .instructions-overlay p {
    line-height: 1.6;
    text-align: left; }
    .instructions-overlay p:last-child {
      text-align: center;
      margin-bottom: 0; }
  .instructions-overlay .instructions-close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 1.2rem;
    border: 1px solid #171717;
    background: #171717;
    color: #eeecec;
    font-size: 1.2rem;
    padding: 2px 3px 2px 4px; }
    .instructions-overlay .instructions-close:hover {
      background: #272727; }
  .instructions-overlay img {
    max-width: 100%;
    width: 70px;
    margin: 0 10px; }
  .instructions-overlay .image-instructions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 auto; }
  .instructions-overlay .move-dino {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 10px; }
    .instructions-overlay .move-dino .blue-dino-container {
      width: 20%; }
    .instructions-overlay .move-dino .blue-dino-container img {
      width: 100%;
      display: block; }
  .instructions-overlay .arrow-key-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 80%; }
    .instructions-overlay .arrow-key-flex .purple-key-container img {
      width: 50%;
      display: block;
      margin: 0 auto; }
    .instructions-overlay .arrow-key-flex p {
      margin-bottom: 0px; }
  .instructions-overlay .keyboard-arrow-keys {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .instructions-overlay .keyboard-arrow-keys .key {
      border: 1px solid #171717;
      padding: 2px 4px;
      width: calc(100% / 3); }
      .instructions-overlay .keyboard-arrow-keys .key:first-child {
        border-bottom: none;
        margin: 0 auto; }
      .instructions-overlay .keyboard-arrow-keys .key:nth-child(2) {
        border-right: none; }
      .instructions-overlay .keyboard-arrow-keys .key:nth-child(4) {
        border-left: none; }
    .instructions-overlay .keyboard-arrow-keys .full-width {
      width: 100%; }
    .instructions-overlay .keyboard-arrow-keys .highlight {
      background: #272727;
      color: #eeecec; }
  .instructions-overlay .steak-img,
  .instructions-overlay .meteor-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 10px;
    width: 50%; }
    .instructions-overlay .steak-img p,
    .instructions-overlay .meteor-img p {
      margin-bottom: 0; }
  .instructions-overlay .heart-strike {
    position: relative; }
    .instructions-overlay .heart-strike .heart-img {
      width: 35px; }
    .instructions-overlay .heart-strike span {
      border-left: 2px solid #171717;
      height: 50px;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      position: absolute;
      top: -12px;
      left: 25px;
      font-size: 3.5rem; }

.game-over {
  display: none;
  margin: 50px 0; }
  .game-over p {
    padding: 50px 0 30px 0; }

.appear {
  display: block; }

@media (max-width: 460px) {
  .points {
    display: none; } }

@media (max-width: 380px) {
  .pop-up {
    width: 80%;
    left: calc(50% - 150px);
    font-size: 1.6rem; }
  .instructions-overlay .image-instructions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .instructions-overlay .blue-dino-container {
    width: 35%; }
  .instructions-overlay .arrow-key-flex {
    width: 65%; }
    .instructions-overlay .arrow-key-flex .purple-key-container img {
      width: 60%; }
    .instructions-overlay .arrow-key-flex .keyboard-arrow-keys {
      font-size: 1.2rem; }
  .instructions-overlay .steak-img,
  .instructions-overlay .meteor-img {
    width: 100%; }
    .instructions-overlay .steak-img img,
    .instructions-overlay .meteor-img img {
      width: 45px; }
  .instructions-overlay .hide-responsive {
    display: none; } }

@media (max-width: 350px) {
  .pop-up {
    left: calc(50% - 140px); }
  .instructions-overlay .arrow-key-flex {
    width: 65%; }
    .instructions-overlay .arrow-key-flex .purple-key-container img {
      width: 70%; }
    .instructions-overlay .arrow-key-flex .keyboard-arrow-keys {
      font-size: 0.8rem; } }

@media (max-width: 335px) {
  .pop-up {
    left: calc(50% - 128px); } }
